@page {
  margin: 5mm;
}

body {
  -webkit-print-color-adjust: exact;
}

ol {
  list-style-position: inside;
}

.blueText {
  color: rgb(58, 58, 255);
  line-height: 1.1em;
}

.backText {
  color: rgba(162, 162, 253, 0.692);
}

.backSubText {
  font-size: 16px;
}

.paperBody {
  width: 1063px;
  max-width: 1063px;
}

.invoiceTop {
  background-color: rgba(197, 197, 255, 0.692);
}

.noInfo {
  width: 152.27px;
}

.largeTitleText {
  font-size: 20px;
}

.subText {
  font-size: 14px;
}

.smallText {
  font-size: 12px;
}

.invoiceTitle {
  font-size: 15px;
}

.partsInvoiceContentWrapper {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.partsInvoiceWrapper {
  height: 16.9cm;
  max-height: 16.9cm;
  position: relative;
  border-left: solid 1px rgb(58, 58, 255);
  border-bottom: solid 1px rgb(58, 58, 255);
  border-right: solid 1px rgb(58, 58, 255);
}

.partsInvoiceHeader {
  background-color: rgb(58, 58, 255);
}

.logoWrapperInvoice {
  position: absolute;
  border: solid 3px rgb(103, 109, 196);
  height: 260px;
  width: 260px;
  top: 31%;
  left: 36.5%;
  z-index: -2;
  background: rgb(129, 129, 253);
}

.logoText1Invoice {
  margin-top: 15%;
  font-family: Train One, Helvetica, sans-serif;
  font-size: 90px;
  line-height: 1em;
  color: rgb(0, 0, 0);
}

.logoText2Invoice {
  font-family: Lobster Two, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.logoText3Invoice {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: Lobster Two, Helvetica, sans-serif;
}

.logoWhiteFlag {
  position: absolute;
  top: 0;
  left: 33.35%;
  height: 100%;
  background: rgb(255, 255, 255);
  width: 33.3%;
  margin: auto;
  z-index: -1;
}

.overlay {
  height: calc(100% - 21px);
  background-color: rgba(197, 197, 255, 0.692);
  z-index: 3;
}

#svg5444 {
  position: absolute;
  filter: grayscale(73%);
  z-index: -1;
  top: 20%;
  left: 52.6%;
}

#svg5445 {
  position: absolute;
  fill: rgb(103, 109, 196);
  filter: grayscale(80%);
  z-index: -5;
  top: 20%;
  left: 29.7%;
}

.invoiceBottomWrapper {
  width: 100%;
  height: 11.9cm;
  max-height: 11.9cm;
}

.legalsBorder {
  border: solid 1px rgb(58, 58, 255);
}

.legalsBottom {
  height: 20%;
}

.estimateInvoiceWrapper {
  border-right: solid 1px rgb(58, 58, 255);
  border-bottom: solid 1px rgb(58, 58, 255);
  height: 71%;
}

.estimateInvoice {
  font-size: 18px;
}

.costRepairLegalInvoice {
  height: 29%;
  border-right: solid 1px rgb(58, 58, 255);
}

.chargeAgreementsInvoice {
  border-bottom: solid 1px rgb(58, 58, 255);
}

.boxUnselected {
  width: 13px;
  height: 13px;
  border: solid 1px rgb(58, 58, 255);
  margin-right: 3px;
}

.totalsInvoice {
  border: solid 1px rgb(58, 58, 255);
  background: rgba(197, 197, 255, 0.692);
}

.totalsInvoiceHeader {
  padding-top: 1.5%;
  height: 10%;
  color: white;
  background: rgb(58, 58, 255);
  font-size: 19px;
}

.subtotalsInvoice {
  font-size: 13px;
}

.grandTotalInvoice {
  font-size: 16px;
}

.liabilitiesWarrantiesInvoice {
  margin-top: 50px;
}

.liabilitiesWarrantiesInvoiceHeader {
  font-size: 25px;
}
