<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
        rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>HP Auto I&A</title>
</head>

<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg ps-4 lightgrayBg shadow-sm">
            <div class="container-fluid m-0 p-0 mb-1">
                <a class="navbar-brand black textDark" href="#">
                    HP-Auto I&A
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="textDark nav-link" href="#top">Top</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="textDark nav-link dropdown-toggle" href="#customer" role="button"
                                data-bs-toggle="dropdown">Customer</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#customerCustomer">Customer Information</a></li>
                                <li><a class="dropdown-item" href="#customerCar">Car Information</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="textDark nav-link" href="#parts">Parts</a>
                        </li>
                        <li class="nav-item">
                            <a class="textDark nav-link" href="#payment">Payment</a>
                        </li>
                    </ul>
                </div>
                <div class="fileInputWrap d-flex">
                    <label class="customFileInputLabel">
                        <input type="file" class="customFileInput" id="archivedFileInput">
                    </label>
                    <button class="btn py-0 disabledPointer" type="submit" id="archivedFileSubmit">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 32 32" width="24"
                            class="fileSubmitArrowDisabled">
                            <path
                                d="M32 16c0-0.3-0.1-0.5-0.3-0.7l-9.9-10c-0.4-0.4-1-0.4-1.4 0 -0.4 0.4-0.4 1 0 1.4l8.2 8.3H1c-0.6 0-1 0.5-1 1s0.4 1 1 1h27.6l-8.2 8.3c-0.4 0.4-0.4 1 0 1.4 0.4 0.4 1 0.4 1.4 0l9.9-10C31.9 16.5 32 16.3 32 16z" />
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <form action="{{ url_for('createInvoice') }}" method="POST">
                <div class="row">
                    <section id="top" class="leftForm col-8 px-0">
                        <div class="row gx-0">
                            <div class="banner col-12">
                                <div class="logoWrapper col">
                                    <h1 class="logoText">HP Automotive</h1>
                                    <h2 class="subTitle ps-4">Invoice & Archive</h2>
                                </div>
                                <div class="contactInfoWrapper">
                                    <div class="contactInfo">
                                        3620 NE 42 Ln
                                    </div>
                                    <div class="contactInfo">
                                        Ocala, FL 34479
                                    </div>
                                    <div class="contactInfo">
                                        352-236-0708
                                    </div>
                                    <div class="contactInfoLicense">
                                        MV51742
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <section id="customerCar" class="container ps-4 pe-4">
                                    <h2 class="custInfoHeading ps-4 pb-5">Car Information</h2>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="formItem">
                                                <input type="text" id="yearCar" name="yearCar"
                                                    class="inputTextRequiredLarger" required>
                                                <label for="yearCar" class="labelText">Year<span
                                                        class="requiredAsterisk">*</span></label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="formItem">
                                                <input type="text" id="makeCar" name="makeCar"
                                                    class="inputTextRequiredLarger" required>
                                                <label for="makeCar" class="labelText">Make<span
                                                        class="requiredAsterisk">*</span></label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="formItem">
                                                <input type="text" id="modelCar" name="modelCar"
                                                    class="inputTextRequiredLarger" required>
                                                <label for="modelCar" class="labelText">Model<span
                                                        class="requiredAsterisk">*</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formSpacerLarger"></div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="formItem">
                                                <input type="text" id="motorCar" name="motorCar"
                                                    class="inputTextRequiredLarger" required>
                                                <label for="motorCar" class="labelText">Motor #<span
                                                        class="requiredAsterisk">*</span></label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="formItem">
                                                <input type="text" id="odometerCar" name="odometerCar"
                                                    class="inputTextRequiredLarger">
                                                <label for="odometerCar" class="labelText">Odometer</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="formItem">
                                                <input type="text" id="licenseCar" name="licenseCar"
                                                    class="inputTextRequiredLarger">
                                                <label for="licenseCar" class="labelText">License
                                                    No.</label>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-12" id="partInfoContainer">
                                <div class="formSpacerSeperator"></div>
                                <section class="container ps-4 pe-2" id="parts">
                                    <h2 class="custInfoHeading ps-4 pb-1">Part Information</h2>
                                    <div data-part-count="0">
                                        <div class="row pt-4">
                                            <div class="col-1">
                                                <div class="formItem">
                                                    <input type="number" id="partQuantity0" name="partQuantity0"
                                                        class="inputNumberRequiredLarger" required>
                                                    <label for="partQuantity0" class="labelText">Qty.<span
                                                            class="requiredAsterisk">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="formItem">
                                                    <input type="text" id="partDescription0" name="partDescription0"
                                                        class="inputTextRequiredLarger">
                                                    <label for="partDescription0"
                                                        class="labelTextSmall">Unit/Condition</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="formItem">
                                                    <input type="text" id="partName0" name="partName0"
                                                        class="inputTextRequiredLarger" required>
                                                    <label for="partName0" class="labelText">Description /
                                                        Name<span class="requiredAsterisk">*</span></label></label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="formItem">
                                                    <input type="text" id="partPrice0" name="partPrice0"
                                                        partPrice="true" class="inputTextRequiredLarger" money="true">
                                                    <label for="partPrice0" class="labelText">Price</label>
                                                </div>
                                            </div>
                                            <div class="col-2 pe-0">
                                                <div class="row">
                                                    <div class="col-6 pe-0">
                                                        <div class="formItemRadio">
                                                            <input type="radio" name="partMaterial0" value="U"
                                                                id="partMaterialU0">
                                                            <label for="partMaterial0" class="">U</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 px-0">
                                                        <div class="formItemRadio">
                                                            <input type="radio" name="partMaterial0" value="R"
                                                                id="partMaterialR0">
                                                            <label for="partMaterial0" class="">R</label>
                                                        </div>
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col-6 pe-0">
                                                        <div class="formItemRadio">
                                                            <input type="radio" name="partMaterial0" value="RC"
                                                                id="partMaterialRC0">
                                                            <label for="partMaterial0" class="">RC</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 px-0">
                                                        <div class="formItemRadio">
                                                            <input type="radio" name="partMaterial0" value="N/A"
                                                                id="partMaterialNone0" checked>
                                                            <label for="partMaterial0" class="">N/A</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 px-0">
                                                <div class="formItemCheck">
                                                    <input type="checkbox" id="partWarranty0" name="partWarranty0"
                                                        value="true">
                                                    <label for="partWarranty0">Warranty</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-8"></div>
                                            <div class="col-2">
                                                <p class="materialLegend">
                                                    U-Used, R-Rebuilt,
                                                    RC-Reconditioned
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="container pe-0">
                                <div class="addPartRow ps-4 pb-4" id="addPartRow">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1.9rem" viewBox="0 0 512 512"
                                        width="1.9rem">
                                        <path
                                            d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208c114.9 0 208-93.1 208-208S370.9 48 256 48zM256 446.7c-105.1 0-190.7-85.5-190.7-190.7S150.9 65.3 256 65.3 446.7 150.9 446.7 256 361.1 446.7 256 446.7z" />
                                        <polygon
                                            points="264.1 128 247.3 128 247.3 247.9 128 247.9 128 264.7 247.3 264.7 247.3 384 264.1 384 264.1 264.7 384 264.7 384 247.9 264.1 247.9 " />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="recommendationInfoContainer">
                            <div class="formSpacerSeperator"></div>
                            <div class="container pe-0">
                                <h2 class="custInfoHeading ps-4 pb-1">Mechanic's Recommendations</h2>
                                <div data-recommendation-count="0">
                                    <div class="row pt-4">
                                        <div class="col-12">
                                            <div class="formItem">
                                                <input type="text" id="recommendation0" name="recommendation0"
                                                    class="inputTextRequiredLarger">
                                                <label for="recommendation0" class="labelText">Recommendations</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container pe-0">
                            <div class="col-12 ps-2">
                                <div class="row mt-3 pe-0">
                                    <div class="col-1 addPartRow ps-4 pb-4" id="addRecommendationRow">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1.9rem" viewBox="0 0 512 512"
                                            width="1.9rem">
                                            <path
                                                d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208c114.9 0 208-93.1 208-208S370.9 48 256 48zM256 446.7c-105.1 0-190.7-85.5-190.7-190.7S150.9 65.3 256 65.3 446.7 150.9 446.7 256 361.1 446.7 256 446.7z" />
                                            <polygon
                                                points="264.1 128 247.3 128 247.3 247.9 128 247.9 128 264.7 247.3 264.7 247.3 384 264.1 384 264.1 264.7 384 264.7 384 247.9 264.1 247.9 " />
                                        </svg>
                                    </div>
                                    <div class="col-3">
                                        <div class="formItem">
                                            <input type="text" id="recommendationEstCost" name="recommendationEstCost"
                                                class="inputTextRequiredLarger" money="true">
                                            <label for="recommendationEstCost" class="labelText">Estimated
                                                Cost</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="formItem">
                                            <input type="text" id="recommendationEstCharge"
                                                name="recommendationEstCharge" money="true"
                                                class="inputTextRequiredLarger">
                                            <label for="recommendationEstCharge" class="labelText">Estimated
                                                Charge</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="formItem">
                                            <input type="text" id="recommendationBasisCharge"
                                                name="recommendationBasisCharge" class="inputTextRequiredLarger">
                                            <label for="recommendationBasisCharge" class="labelText">Basis
                                                for
                                                Charge</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="chargeHazardContainer">
                            <div class="formSpacerSeperator"></div>
                            <div class="container pe-0">
                                <h2 class="custInfoHeading ps-4 pb-1">Charge for Hazardous or Other Waste Removal
                                </h2>
                                <div data-hazard-count="0">
                                    <div class="row pt-4">
                                        <div class="col-9">
                                            <div class="formItem">
                                                <input type="text" id="hazardDescription0" name="hazardDescription0"
                                                    class="inputTextRequiredLarger">
                                                <label for="hazardDescription0" class="labelText">Hazardous
                                                    Material Description</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="formItem">
                                                <input type="text" id="hazardCharge0" name="hazardCharge0"
                                                    class="inputTextRequiredLarger" money="true">
                                                <label for="hazardCharge0" class="labelText">Price</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container pe-0">
                            <div class="col-12 ps-2 equalizer">
                                <div class="row mt-3 pe-0">
                                    <div class="col-1 addPartRow ps-4 pb-4" id="addHazardRow">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1.9rem" viewBox="0 0 512 512"
                                            width="1.9rem">
                                            <path
                                                d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208c114.9 0 208-93.1 208-208S370.9 48 256 48zM256 446.7c-105.1 0-190.7-85.5-190.7-190.7S150.9 65.3 256 65.3 446.7 150.9 446.7 256 361.1 446.7 256 446.7z" />
                                            <polygon
                                                points="264.1 128 247.3 128 247.3 247.9 128 247.9 128 264.7 247.3 264.7 247.3 384 264.1 384 264.1 264.7 384 264.7 384 247.9 264.1 247.9 " />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="col-4 ps-0">
                        <section class="container pt-5" id="customerCustomer">
                            <h2 class="custInfoHeading ps-4 pb-5">Customer Information</h2>
                            <div class="formItem">
                                <input type="text" id="customerFirstNameForm" name="customerFirstNameForm" class="inputTextRequired"
                                    required>
                                <label for="firstNameForm" class="labelText">First Name<span
                                        class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="formItem">
                                <input type="text" id="customerLastNameForm" name="customerLastNameForm" class="inputTextRequired"
                                    required>
                                <label for="LastNameForm" class="labelText">Last Name<span
                                        class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="formSpacerSmaller"></div>
                            <div class="formItem">
                                <input type="text" id="customerStreetAddress" name="customerStreetAddress" class="inputTextRequired"
                                    required>
                                <label for="streetAddress" class="labelText">Street Addres<span
                                        class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="formItem">
                                <input type="text" id="customerStreetAddress2" name="customerStreetAddress2" class="inputTextRequired">
                                <label for="streetAddress2" class="labelText">Apartment, Suite, Unit,
                                    etc.</label>
                            </div>
                            <div class="formItem">
                                <input type="text" id="customerCity" name="customerCity" class="inputTextRequired" required>
                                <label for="city" class="labelText">City<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="formItem">
                                <input type="text" id="customerState" name="customerState" class="inputTextRequired" required>
                                <label for="state" class="labelText">State<span
                                        class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="formItem">
                                <input type="text" id="customerZip" name="customerZip" class="inputTextRequired" required>
                                <label for="zip" class="labelText">Zip<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="formSpacerSmaller"></div>
                            <div class="formItem">
                                <input type="text" id="customerTelephone1" name="customerTelephone1" class="inputTextRequired">
                                <label for="telephone1" class="labelText">Work Phone</label>
                            </div>
                            <div class="formItem">
                                <input type="text" id="customerTelephone2" name="customerTelephone2" class="inputTextRequired">
                                <label for="telephone2" class="labelText">Cell Phone</label>
                            </div>
                        </section>
                        <div class="formSpacerSeperatorSmaller"></div>
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-11 pt-3 spaceLeftSmall">
                                    <p class="estimateAcknowledgement">
                                        PLEASE READ CAREFULLY, CHECK ONE OF THE STATEMENTS BELOW, AND SIGN:
                                        I UNDERSTAND THAT, UNDER STATE LAW, I AM ENTITLED TO A WRITTEN ESTIMATE,
                                        INCLUDING A COMPLETION DATE, IF MY FINAL BILL WILL EXCEED $100.
                                        ($50 in
                                        MD)
                                    </p>
                                    <div class="pb-2">
                                        <input type="radio" id="requestWrittenEstimate" name="estimateChoice"
                                            class="estimateAckCheck" value="requestWrittenEstimate">
                                        <label for="requestWrittenEstimate" class="estimateAckLabel">
                                            I REQUEST A WRITTEN ESTIMATE. THE FINAL BILL MAY NOT EXCEED THIS
                                            ESTIMATE
                                            WITHOUT MY APPROVAL.
                                        </label>
                                    </div>
                                    <div class="pb-2">
                                        <input type="radio" id="noRequestWrittenEstimate" name="estimateChoice"
                                            class="estimateAckCheck" value="noRequestWrittenEstimate">
                                        <label for="noRequestWrittenEstimate" class="estimateAckLabel">
                                            I DO NOT REQUEST A WRITTEN ESTIMATE AS LONG AS THE REPAIR COSTS DO
                                            NOT
                                            EXCEED <span><input type="text" id="noRequestWrittenEstimateCharge" name="noRequestWrittenEstimateCharge"
                                                    money="true" class="inputTextRequiredLarger"><label
                                                    for="noRequestWrittenEstimateCharge"
                                                    class="labelText"></label></span>. THE SHOP MAY NOT
                                            EXCEED THIS AMOUNT WITHOUT MY WRITTEN APPROVAL.
                                        </label>
                                    </div>
                                    <input type="radio" id="requestNoEstimate" name="estimateChoice"
                                        class="estimateAckCheck" value="requestNoEstimate" checked>
                                    <label for="requestNoEstimate" class="estimateAckLabel">
                                        I DO NOT REQUEST A WRITTEN ESTIMATE.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-11 pt-3 spaceLeftSmall">
                                    <p class="variousAcknowledgement">
                                        You are entitled by law to return all of the parts replaced, except for
                                        those which there is a core charge, unless you agree otherwise by initialing
                                        the following: <span><input type="text" id="noReturnInitial"
                                                name="noReturnInitial" class="inputTextRequiredLarger"><label
                                                for="noReturnInitial" class="labelText"></label></span> I do not desire
                                        the return
                                        of any of the parts that are replaced during the authorized repairs.
                                    </p>
                                    <p class="variousAcknowledgement">
                                        Estimate good for 30 days. Not responsible for damage caused by theft, fire,
                                        or acts of nature. I authorize the above repairs, along with any necessary
                                        materials. I authorize you and your employees to operate my vehicle for the
                                        purpose of testing, inspection, and delivery at my risk. An express
                                        mechanic's lien is hereby acknowledged on the above vehicle to secure the
                                        amount of the repairs thereto. If I cancel repairs prior to their completion
                                        for any reason, a tear-down and reassembly fee of <span><input type="text"
                                                id="teardownFee" name="teardownFee" money="true"
                                                class="inputTextRequiredLarger"><label for="teardownFee"
                                                class="labelText"></label></span> will be
                                        applied.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-11 pt-3 spaceLeftSmall">
                                    <p class="variousAcknowledgement">
                                        Daily Storage fee after repair work has been completed and customer has been
                                        notified. No charges shall acrue or be due and payable for a period of 3
                                        working days from date of notification.
                                    </p>
                                    <div class="col-12" id="guaranteeContainer">
                                        <h3 class="variousAcknowledgement">GUARANTEED ITEM(S):</h3>
                                        <div data-guarantee-count="0">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="formItemGuarantee">
                                                        <input type="text" id="guaranteedItem0" name="guaranteedItem0"
                                                            class="inputTextRequiredLarger">
                                                        <label for="guaranteedItem0" class="labelText"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row pe-0">
                                            <div class="col-3 addPartRow pb-4" id="addGuaranteeRow">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1.25rem"
                                                    viewBox="0 0 512 512" width="1.25rem">
                                                    <path
                                                        d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208c114.9 0 208-93.1 208-208S370.9 48 256 48zM256 446.7c-105.1 0-190.7-85.5-190.7-190.7S150.9 65.3 256 65.3 446.7 150.9 446.7 256 361.1 446.7 256 446.7z" />
                                                    <polygon
                                                        points="264.1 128 247.3 128 247.3 247.9 128 247.9 128 264.7 247.3 264.7 247.3 384 264.1 384 264.1 264.7 384 264.7 384 247.9 264.1 247.9 " />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="variousAcknowledgement">
                                        GUARANTEE EFFECTIVE UNTIL:
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="formItemGuarantee">
                                                <input type="text" id="guaranteedItemsTime" name="guaranteedItemsTime"
                                                    class="inputTextRequiredLarger">
                                                <label for="guaranteedItemsTime" class="labelText">Time</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="formItemGuarantee">
                                                <input type="number" id="guaranteedItemsMileage"
                                                    name="guaranteedItemsMileage" class="inputTextRequiredLarger">
                                                <label for="guaranteedItemsMileage" class="labelText">Mileage</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formSpacerLarger"></div>
                <section class="row ps-4" id="payment">
                    <h2 class="custInfoHeading ps-4 pb-4">Payment</h2>
                    <div class="col-8 ps-4">
                        <div class="row pe-0">
                            <div class="estimateAcknowledgement col-3">
                                METHOD OF PAYMENT
                            </div>
                            <div class="col-3">
                                <div class="formItemCheck">
                                    <input type="radio" id="paymentCheck" name="paymentMethods" value="paymentCheck"
                                        class="estimateAckCheck">
                                    <label for="paymentCheck" class="estimateAckLabel">CHECK</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="formItemCheck">
                                    <input type="radio" id="paymentCharge" name="paymentMethods" value="paymentCharge"
                                        class="estimateAckCheck">
                                    <label for="paymentCharge" class="estimateAckLabel">CHARGE</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="formItemCheck">
                                    <input type="radio" id="paymentCash" name="paymentMethods" value="paymentCash"
                                        class="estimateAckCheck" checked>
                                    <label for="paymentCash" class="estimateAckLabel">CASH</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4"></div>
                        <div class="row pe-0">
                            <div class="estimateAcknowledgement col-3">
                                LABOR
                            </div>
                            <div class="col-3">
                                <div class="formItemCheck">
                                    <input type="radio" id="laborFlatRate" name="laborRate" value="laborFlatRate"
                                        class="estimateAckCheck" checked>
                                    <label for="laborFlatRate" class="estimateAckLabel">FLAT RATE</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="formItemCheck">
                                    <input type="radio" id="laborHourly" name="laborRate" value="laborHourly"
                                        class="estimateAckCheck">
                                    <label for="laborHourly" class="estimateAckLabel">HOURLY</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="formItemCheck">
                                    <input type="radio" id="laborBoth" name="laborRate" value="laborBoth"
                                        class="estimateAckCheck">
                                    <label for="laborBoth" class="estimateAckLabel">BOTH</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5"></div>
                        <div class="row pe-0">
                            <div class="col-6"></div>
                            <div class="col-4">
                                <input type="submit" id="createInvoice" value="CREATE INVOICE" class="text-center">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ps-0">
                        <div class="container ps-3">
                            <div class="col-11 spaceLeftSmall">
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        LABOR ONLY
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="laborPayment" name="laborPayment" money="true"
                                            addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        PARTS
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="partsPayment" name="partsPayment" money="true"
                                            addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        ACCESSORIES
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="accessoriesPayment" name="accessoriesPayment"
                                            money="true" addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        GAS, OIL, & GREASE
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="lubePayment" name="lubePayment" money="true"
                                            addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        MISC. MERCHANDISE
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="miscMerchandisePayment" name="miscMerchandisePayment"
                                            money="true" addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        SUBLET REPAIRS
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="subletRepairsPayment" name="subletRepairsPayment"
                                            money="true" addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        STORAGE FEE
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="storagePayment" name="storagePayment" money="true"
                                            addToTotal="true" class="inputTextRequiredLarger">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-4"></div>
                                <div class="row">
                                    <div class="totalLabel col-6">
                                        TAX
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="taxPayment" name="taxPayment" money="true"
                                            class="inputTextRequiredLarger" addToTotal="true">
                                        <label class="d-none"></label>
                                    </div>
                                </div>
                                <div class="mt-5"></div>
                                <div class="row">
                                    <div class="totalLabel grand col-6">
                                        TOTAL
                                    </div>
                                    <input class="col-4 totalLabel grand" id="totalAmount" name="totalAmount" value="$ 0.00" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="formSpacerLarger"></div>
            </form>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>